<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Assigned on:</b>
  <%= @assignment.assigned_on %>
</p>

<p>
  <b>Due on:</b>
  <%= @assignment.due_on %>
</p>

<p>
  <b>Course:</b>
  <%= @assignment.course_id %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
